<h2> Your Cart Items </h2>
<div *ngFor="let item of cartItems">
  {{item.name}}
</div>
<a routerLink="/shipping">Shipping Prices </a> 
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="address"> Address </label>
    <input type="text" id="address" formControlName="address">
  </div>  
  <button type="submit" class="button"> Finish Purchase </button>
</form>
